<!DOCTYPE html>
<html lang="en" ng-app="Debt">
<head>
  <title>Debt.ca Landing 1</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="public/styles/libs.css">
  <link rel="stylesheet" href="public/styles/styles.css">
</head>
<body>
  <header id="header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1 class="logo"><a href="">Debt.ca</a></h1>
          <div class="header-links hide-xs">Have a Question? <span>Chat with us now!</span> <a class="my-btn btn-1" href=""><i class="fa fa-weixin"></i> Live support online</a></div>
        </div>
      </div>
    </div>
  </header>
  <section id="get-help" class="show-xs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
          <h4>Get help now</h4>
          <span class="phone">(866) 808-0811</span>
        </div>
      </div>
    </div>
  </section>
  <section id="get-started">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
          <div id="get-started-info">
            <div class="clearfix height-auto">
              <h2><span>Reduce Up to <span>60%</span></span> <span>of Your Debt</span></h2>
              <h3>Settle Your Debts Pick A Plan That Works</h3>
            </div>
            <p>Whether you have a too much debt or you are simply looking for options, we can help you resolve your debt for less money than you owe now. Find out if you qualify and see how much you can save!</p>
            <img class="person hide-s" src="public/images/person-1.png" alt="">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
          <div id="get-started-form" ng-controller="GetStartedCtrl">
            <h4>{{title}} <i class="fa fa-lock"></i></h4>
            <div class="step-form step-form-first" ng-show="showFirst">
              <div>
                <h5>See If You Qualitfy For <br>Debt Assistance!</h5>
                <form name="qualifyForm" ng-submit="submitQualify(qualifyForm.$valid)" class="form" role="form" novalidate>
                  <fieldset>
                    <label for="code">Enter your Postal Code</label>
                    <input id="code" name="code" type="text" ng-model="formData.code" required>
                    <button class="my-btn btn-2" type="submit">See If You Qualify! <i class="fa fa-arrow-circle-right"></i></button>
                  </fieldset>
                </form>
              </div>
              <div class="form-bottom">
                <h5>You're not alone</h5>
                <div>
                  Help with $15,000 in debt
                  <span>4 minutes ago in ON</span>
                </div>
              </div>
            </div>
            <div class="step-form step-form-second" ng-show="showSpinner">
              <h5>Checcking to see if <br>you qualify. Please wait.</h5>
              <i class="fa fa-spinner"></i>
              <p>Searching...</p>
            </div>
            <div class="step-form step-form-last" ng-show="showLast">
              <form name="getEstimateForm" ng-submit="getEstimate(getEstimateForm.$valid)" class="form" role="form" novalidate>
                <fieldset class="clearfix form-section">
                  <div>
                    <label for="name">First Name</label>
                    <input type="text" id="name" name="name" ng-model="estimateData.name" required>
                  </div>
                  <div>
                    <label for="last">Last Name</label>
                    <input type="text" id="last" name="last" ng-model="estimateData.last" required>
                  </div>
                </fieldset>
                <fieldset class="clearfix form-section">
                  <div>
                    <label for="phone">Phone</label>
                    <input type="text" id="phone" name="phone" ng-model="estimateData.phone">
                  </div>
                  <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" ng-model="estimateData.email" required>
                  </div>
                </fieldset>
                <fieldset class="clearfix form-section">
                  <div>
                    <label for="province">Province</label>
                    <div class="select-wrapper" ng-class="{error:getEstimateForm.$submitted && getEstimateForm.province.$invalid}">
                      <select id="province" name="province" ng-model="estimateData.province" required>
                        <option value="British Columbia">British Columbia</option>
                      </select>
                    </div>
                  </div>
                  <div>
                    <label for="debt">
                      Debt Amount 
                      <span data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popover><i class="fa fa-question-circle"></i></span>
                    </label>
                    <div class="select-wrapper" ng-class="{error:getEstimateForm.$submitted && getEstimateForm.debt.$invalid}">
                      <select id="debt" name="debt" ng-model="estimateData.debt" required>
                        <option value="$90,000 - $99,999">$90,000 - $99,999</option>
                      </select>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="cb clearfix form-section">
                  <div class="checkbox-wrapper" ng-class="{error:getEstimateForm.$submitted && getEstimateForm.terms.$invalid}">
                    <input type="checkbox" id="terms" name="terms" ng-model="estimateData.terms" required>
                    <label for="terms"></label>
                  </div>
                  <span>I accept the terms of service and agree to receive email regarding my debt from Debt.ca &amp; our debt partners, including tips and promotions. You may unsubscribe at any time. See our <a href="">Privacy Policy</a> and <a href="">Terms</a>.</span>
                </fieldset>
                <button class="my-btn btn-2" type="submit">get your free estimate <i class="fa fa-arrow-circle-right"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img class="arrow hide-xs" src="public/images/arrow-1.png" alt="">
  </section>
  <section id="miscellaneous">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h2>Debt Relief for Canadians</h2>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
          <ul class="list-unstyled green-list">
            <li>Reduce Up To 60% Of Your Debt</li>
            <li>One Low Monthly Payment</li>
            <li>Debt Free in as little as 24 - 48 Months</li>
            <li>Alternative to Bankruptcy</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
          <div class="testimonial clearfix">
            <img src="public/images/testimonial-1.png" alt="">
            <blockquote>
              <div>
                <p>I really and truly, finally can look at retirement in a positive light</p>
                <p><cite>Collen-</cite></p>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="how-it-works">
    <div class="container hide-xs">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="steps">
            <h2>How It Works</h2>
            <div class="clearfix">
              <div class="step">
                <img src="public/images/step-1.png" alt="">
                <h3>1. Calculate youR debts</h3>
                <p>Examine your current situation at no charge or obligation. Get your free online savings quote today!</p>
              </div>
              <div class="step">
                <img src="public/images/step-2.png" alt="">
                <h3>2. REDUCE YOUR DEBT</h3>
                <p>Reduce up to 60% of your debt and combine all of your payments into one affordable monthly payment.</p>
              </div>
              <div class="step">
                <img src="public/images/step-3.png" alt="">
                <h3>3. BECOME DEBT FREE</h3>
                <p>Making lower monthly payments will allow you to get out of debt in as little as 24 - 48 months.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="steps show-xs">
            <h2>How It Works</h2>
            <div class="owl-carousel" owl-single>
              <div class="step">
                <img src="public/images/step-1.png" alt="">
                <h3>Calculate youR debts</h3>
                <p>Examine your current situation at no charge or obligation. Get your free online savings quote today!</p>
              </div>
              <div class="step">
                <img src="public/images/step-2.png" alt="">
                <h3>REDUCE YOUR DEBT</h3>
                <p>Reduce up to 60% of your debt and combine all of your payments into one affordable monthly payment.</p>
              </div>
              <div class="step">
                <img src="public/images/step-3.png" alt="">
                <h3>BECOME DEBT FREE</h3>
                <p>Making lower monthly payments will allow you to get out of debt in as little as 24 - 48 months.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="tabs" ng-controller="TabsCtrl">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-4">
          <div class="tabs-xs clearfix show-xs">
            {{currentTab}}
            <span class="collapsed pull-right" data-toggle="collapse" data-target="#tabs-menu"><i class="fa fa-bars"></i></span>
          </div>
          <ul id="tabs-menu" class="list-unstyled tabs-menu collapse" role="tablist">
            <li role="presentation" ng-repeat="tab in tabs" ng-class="{active:$first}">
              <a ng-click="changeTitle($index)" href="#tab-{{$index + 1}}" aria-controls="tab-{{$index + 1}}" role="tab" data-toggle="tab">{{tab}}</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-8">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab-1">
              <h4>Avoid Bankruptcy and Get Out of Debt the Easy Way with a Consumer Proposal</h4>
              <p>At Debt.ca, we understand that people might find themselves surrounded with debt for many reasons including job loss, reduced income, medical expenses, or even the rising costs of raising a family. And when faced with a mountain of consumer debt, it is quite easy to become overwhelmed and to believe that you will never be able to pay off your creditors. The high interest rates associated with consumer debts, late fees for those who are behind on their payments, and much more can seem to conspire against your attempts to become debt free. That is why we want to help all Canadians better understand their debt relief options and save the most money while they get out from under their unsecured loans.</p>
              <p>Are you struggling with debt or trying to figure out which Canadian debt relief program will help you get out of debt in the quickest amount of time and for the least amount of money? If so, let us show you that you can live a life free of bills and you do have more options than you probably realize. Simply put, if your paying out more money every month than you have coming in, we can get you to a professional who can help. Fill out the form above to get started today!</p>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-2">2</div>
            <div role="tabpanel" class="tab-pane" id="tab-3">3</div>
            <div role="tabpanel" class="tab-pane" id="tab-4">4</div>
            <div role="tabpanel" class="tab-pane" id="tab-5">5</div>
            <div role="tabpanel" class="tab-pane" id="tab-6">6</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="miscellaneous-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-12">
          <span>See if you qualify,</span> <a href="#get-started-form" du-smooth-scroll class="my-btn btn-2">Fill out the form</a> <span>to get started!</span>
        </div>
      </div>
    </div>
  </section>
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-2 col-2">
          <div class="footer-section">
            <h1 class="logo logo-gray"><a href="">Debt.ca</a></h1>
          </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-2">
          <address class="footer-section">
            <p>500 Cochrane Dr.</p>
            <p>Markham Ontario</p>
            <p>L3R 8E2</p>
            <p>Ph; 1-877-0488</p>
          </address>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-8 col-8">
          <div class="footer-section">
            <p>Disclaimers: This website is not intended to, nor does it, provide legal advice, nor is it intended to be a substitute for legal advice. If you need legal advice you must consult with a licensed attorney. Services are available to Canadian residents only and may not be available in all provinces. Please read and understand contract terms & conditions prior to enrollment. If you have any questions regarding this advertisement, please email <a href="mailto:support@debt.ca">support@debt.ca</a>.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-12">
          <div id="footer-bottom" class="clearfix">
            <div>&copy; Copyright 2012 ConsumerDebtHelp.ca. All Rights Reserved.</div>
            <div><a href="">Privacy Policy</a> | <a href="">Terms and Conditions</a></div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="public/js/libs.min.js"></script>
  <script src="public/js/app.min.js"></script>
</body>
</html>